# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Hoop Stars.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity Projects\Hoop Stars\.idea\.idea.Hoop Stars\.idea/dataSources/
/dataSources.local.xml
